@import "styles/templates.scss";
@import "styles/variables.scss";
@import "styles/mixins.scss";

// .input__date {
//   @include flex();
//   width: 100%;
//   height: 90px;
//   font-weight: 700;
//   font-size: 50px;
//   text-align: center;
//   line-height: 67px;
//   color: #000000;
//   background-color: transparent;
//   border: 1px solid $border-buttons;
//   border-radius: 18px;
//   outline: unset;
//   cursor: pointer;
//   appearance: none;
//   -webkit-appearance: none;
//   &::-webkit-datetime-edit {
//     background-color: red;
//     position: relative;
//     width: 100%;
//     color: gray;
//   }
//   &::-webkit-inner-spin-button,
//   &::-webkit-calendar-picker-indicator {
//     display: none;
//     -webkit-appearance: none;
//     appearance: none;
//   }
//   &::-webkit-datetime-edit-day-field:focus {
//     background-color: transparent;
//     color: white;
//     outline: none;
//   }
//   &::-webkit-datetime-edit-month-field:focus {
//     background-color: transparent;
//     color: white;
//     outline: none;
//   }
//   &::-webkit-datetime-edit-year-field:focus {
//     background-color: transparent;
//     color: white;
//     outline: none;
//   }
// }

input[type="date"],
input[type="time"] {
  border: none;
  box-sizing: border-box;
  outline: 0;
  padding-left: 0.75rem;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::placeholder,
input[type="time"]::placeholder {
  font-family: "Roboto";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input[type="date"]::-webkit-datetime-edit,
input[type="time"]::-webkit-datetime-edit {
  text-align: center;
  width: 100%;
}

@media (max-width: 1110px) {
  .input__date {
    height: 85px;
    font-size: 45px;
  }
}

@media (max-width: 992px) {
  .input__date {
    height: 73px;
    font-size: 35px;
  }
}

@media (max-width: 740px) {
  .input__date {
    height: 65px;
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .input__date {
    height: 60px;
    font-size: 28px;
  }
}
@media (max-width: 430px) {
  .input__date {
    height: 50px;
    font-size: 24px;
  }
}
@media (max-width: 380px) {
  .input__date {
    height: 40px;
    font-size: 20px;
  }
}
@media (max-width: 1110px) {
  .input__date {
    height: 85px;
    font-size: 45px;
  }
}

@media (max-width: 992px) {
  .input__date {
    height: 73px;
    font-size: 35px;
  }
}

@media (max-width: 740px) {
  .input__date {
    height: 65px;
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .input__date {
    height: 60px;
    font-size: 28px;
  }
}
@media (max-width: 430px) {
  .input__date {
    height: 50px;
    font-size: 24px;
  }
}
@media (max-width: 380px) {
  .input__date {
    height: 40px;
    font-size: 20px;
  }
}
