@import "styles/templates.scss";
@import "styles/variables.scss";
@import "styles/mixins.scss";

.modal__birth {
  @extend %position-element-center;
  max-width: 887px;
  width: 100%;
  background: #e8d7c5;
  border-radius: 50px;
  padding: 63px 75px;
  &__title {
    max-width: 597px;
    font-weight: 600;
    font-size: 58px;
    line-height: 70px;
    color: #000000;
  }
  &__subTitle {
    max-width: 597px;
    font-weight: 500;
    font-size: 44px;
    line-height: 55px;
    color: #000000;
  }
  &__form {
    @include flex();
    flex-direction: column;
    &__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: #ffffff;
      margin-top: 34px;
      margin-bottom: 19px;
    }
    &__date {
      width: 100%;
      height: 102px;
      font-weight: 700;
      font-size: 55px;
      text-align: center;
      line-height: 67px;
      color: #000000;
      background-color: transparent;
      border: 1px solid $border-buttons;
      border-radius: 18px;
      outline: unset;
      cursor: pointer;

      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
    &__button {
      max-width: 286px;
      width: 100%;
      height: 73px;
      margin-top: 34px;
      background: $bg-dark-buttons;
      border: 1px solid $bg-dark-buttons;
      font-weight: 400;
      font-size: 23px;
      line-height: 29px;
      color: #ffffff;
      border-radius: 12px;
      cursor: pointer;
    }
  }
}
